<body>
  <div class="users">
    <div class="container">
      <center>
        <table>
          <tr>
            <td>Username</td>
            <td>Email</td>
            <td>is_admin</td>
            <td>Admin update</td>
          </tr>
        <% @users.each do |u| %>
          <tr>
            <td><%= u.username %></td>
            <td><%= u.email %></td>
            <td><%= u.is_admin? %></td>
            <% if u.id != session[:user_id] %>
              <td><%= link_to "Update", '/users/'+u.id.to_s, :method => 'post', class:"link"%></td>
            <%end%>
          </tr>
        <% end %>
        </table>
      </center>
    </div>
  </div>
</body>
