<body>
  <div id="canevas">
    <canvas id="monCanvas" width="800" height="800">
    Votre navigateur ne supporte pas l'élément &lt;canvas&gt; .
    </canvas>
  </div>

  <div id="container">
    <div class="greetings">
      <center>
        <h2>Hello <%= session[:username] %>!</h2>
        <p>Votre moyenne est <%= @note_moyenne %></p>
      </center>
    </div>
    <div class="form">
      <center>
      <div class="generate">
        <h1>Painting Properties</h1>
        <p>
          <%= link_to "Generate Painting", "generate", class: "btn-submit" %>
        </p>
      </div>
      </center>
    </div>
  </div>
</body>
